@keyframes active{
  0% {
    transform: skew(4deg,0deg) scaleX(1);
}
10% {
    transform: skew(1deg,0deg) scaleY(.9);
}
50% {
    transform: skew(-4deg,0deg) scaleX(1);
}
60% {
    transform: skew(-1deg,0deg) scaleY(.9);
}
100% {
    transform: skew(4deg,0deg) scaleX(1);
}
}
@keyframes hideElement{
  0% {
    transform: translateY(0px)
  }

  100% {
      transform: translateY(-1000px) ;
  }
}

.wrapper-table{
  text-align: center;
  margin: 0 0 25px;
}
table{
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 10px;
  padding: 20px 20px;
  transform: perspective(1000px) rotateX(25deg);
}

.active{
  animation: active 1s infinite;
}
.hide{
  animation: hideElement 1.5s ease-in;
}
plate{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 100px;
}

apple{
  display: block;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 100px;
}

bento{
  display: block;
  height: 30px;
  width: 30px;
  background-color: rgb(17, 79, 194);
  border-radius: 10px;
}