@keyframes active{
  0% {
    transform: skew(4deg,0deg) scaleX(1);
}
10% {
    transform: skew(1deg,0deg) scaleY(.9);
}
50% {
    transform: skew(-4deg,0deg) scaleX(1);
}
60% {
    transform: skew(-1deg,0deg) scaleY(.9);
}
100% {
    transform: skew(4deg,0deg) scaleX(1);
}
}
@keyframes hideElement{
  0% {
    transform: translateY(0px)
  }

  100% {
      transform: translateY(-1000px) ;
  }
}

.wrapper-table{
  text-align: center;
  margin: 15px 0 15px;
}
table{
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100px;
  background-color: #27ecbb;
  border-radius: 10px;
  padding: 20px 20px;
  transform: perspective(250px) rotateX(25deg);
  border: solid rgba(0,0,0,.2);
  border-width: 1px 2px 7px 2px;
}

.active{
  animation: active 1s infinite;
}
.hide{
  animation: hideElement 1.5s ease-in;
}
dish{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  border: solid rgba(0,0,0,.2);

}

apple{
  display: block;
  height: 30px;
  width: 30px;
  background-color: rgb(86, 179, 11);
  border-radius: 100px;
  border: solid rgba(0,0,0,.2);
  border-width: 1px 2px 7px 2px;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
}

tray{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  height: 60px;
  width: 70px;
  background-color: rgb(206, 7, 189);
  border-radius: 5px;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  border: solid rgba(0,0,0,.2);

}
moon{
width: 30px; 
height: 30px; 
margin: -1px 6px 9px -10px;
border-radius: 50%;
box-shadow: 5px 5px 0 0 #FEC712;
}
packman{
  width: 0; 
  height: 0;
  border-right: 20px solid transparent;
  border-top: 20px solid #517aff;
  border-left: 20px solid #517aff;
  border-bottom: 20px solid #517aff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#border{
  border: 5px solid rgba(252, 16, 16, 0.767);
}
.small{
  width: 20px;
  height: 20px;
}