.name-task{
    font-size: 24px;
    width: 200px;
    margin-left: 240px;
}
@media (max-width: 800px) {
    .name-task{
        margin-left: 150px;
    }
}
@media (max-width: 650px) {
    .name-task{
        margin-left: 70px;
    }
}