.btn-reset{
    background-color: #acacac;
    border: 1px solid silver;
    width: 70px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 5px;
    color: rgba(255,255,255,.8);
    cursor: pointer;
    
}