pre{
    margin: 0;
}
.code-area{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: block !important;
}
@media (max-width: 600px) {
    .code-area{
		width: 350px;
		height: 250px;
	}
}
.numeration{
    height: 100%;
}